<div class="header">
  <!--<ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse-navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a  href="index.html">Home</a></li>
        <li><a href="#">Speakers</a></li>
        <li><a href="#">Why Attend</a></li>
        <li><a href="#">What We Did</a></li>
        <li><a href="#">Venue</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Register</a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href class="thumbnail" id="speaker1" style="background-color:orange">
        <div class="orange"><div id="aim">AIM</div>
        </div>
      </a>
<!--<img src="../images/r1c1.jpg" style="width:380px; height: 300px;" data-src="holder.js/100%x180">--> </a>
     </div>
        <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail" id="speaker2">
<!--<img src="../images/r1c2.jpg" style="width:380px; height: 300px;" data-src="holder.js/100%x180">-->  </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail" id="speaker3">
        <div class="blue"><div id="year">2014</div>
        </div>
      </a>
<!--<img src="../images/r1c3.jpg" style="width:380px; height: 300px;" data-src="holder.js/100%x180">-->   
   </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail" id="speaker4">
<!-- <img src="../images/r2c1.jpg" style="width:380px; height: 300px;" data-src="holder.js/350*343px">--> </a>
     </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail" id="speaker5">
<!--<img src="../images/r2c2.jpg" style="width:380px; height: 300px;" data-src="holder.js/350*343px">--> 
        <div class="green"><div id="conference">Conference</div>
        </div>
       </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail" id="speaker6">
<!--<img src="../images/r2c3.jpg" style="width:380px; height: 300px;" data-src="holder.js/350*343px">-->  </a>
    </div>
  </div>
  <div class="row">
   <div class="col-lg-16 col-lg-14">
      <div class="thumbnail">
<img src="../images/page2.jpg" style="width:1140px; height: 600px;" data-src="holder.js/100%x180"> </div>
     </div>
</div>
</div>
<div class="row marketing">
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
