<!--Navbar starts from here -->
<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    <div class="collapse-navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a  href="index.html">Home</a></li>
        <li><a href="#">Speakers</a></li>
        <li><a href="#">Why Attend</a></li>
        <li><a href="#">What We Did</a></li>
        <li><a href="#">Venue</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<!-- Navbar ends here -->
<!--Page1 starts from here -->
<!-- <div class="jumbotron"> -->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href class="thumbnail speaker" id="speaker1" style="background-color:orange">
        <div class="orange"><div id="aim">AIM</div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail speaker" id="speaker2">
        <div class="name"><span id="underline">SA</span>NWAR OBEROI
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail speaker" id="speaker3">
        <div class="blue"><div id="year">2014</div>
        </div>
      </a>
   </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail speaker" id="speaker4">
        <div class="name"><span id="underline">KA</span>YE JACOB
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail speaker" id="speaker5">
        <div class="green"><div id="conference">Conference</div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#" class="thumbnail speaker" id="speaker6">
        <div class="name"><span id="underline">RA</span>NJINI MANIAN
        </div>
      </a>
    </div>
  </div>
  <!-- Page1 ends here -->
  
  <!-- Page 2 starts from here -->
  <div class="row">
    <div class="col-lg-16 page ">
      <div class="thumbnail bars" id = "page2">
        <div class="redbarcontainer">
          <div class="redbarr1">
           <div id="redbar1">Aspire.
          </div>
          </div>
          <div class="redbarr2">
          <div id="redbar2">Inspire..
          </div>
        </div>
        <div class="redbarr3">
          <div id="redbar3">Motivate...
          </div> 
        </div>
        </div>
        <div class="barcontainer">
          <div class="bar1">
        <div class="brownbar1">Bringing to you thought leaders and industry experts
        </div>
      </div>
      <div class="bar2">
        <div class="brownbar2">22, December 2014, Gurgaon
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="line">   
    Learn from the gurus.Grow your network.Expand your knowledge.
    <br>
    Walk out inspired.    
    </div>
  </div>
    <!-- Page2 ends here -->
  
  <!-- Page 3 starts from here -->

  <div class="row marketing">
    <div class="speakers">
        SPEAKERS
    </div>
    <hr>
    <div class="row" id="first-row">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker11.png" alt="..." class="image">
          <div class="caption">
            <p>A restaurant owner, a rally car driver and a record breaking swimmer.<a href="#">Know More</a></p>
          </div>
          <div id="blue-line"></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker12.jpg" alt="..." class="image">
          <div class="caption">
            <p>An activist and an Indian classical dancer from Ahmedabad, Gujarat, India.<a href="#">Know More</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker13.jpg" alt="..." class="image">
          <div class="caption">
            <p>An Indian film actor who has appeared in some of Bollywood's major films.<a href="#">Know More</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker14.png" alt="..." class="image">
          <div class="caption">
            <p>Founder and CEO, Indian Culture Coach.<a href="#">Know More</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="second-row">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker21.jpg" alt="..." class="image">
          <div class="caption">
            <p>Over thirty rewarding years in international education, spanning three continents.<a href="#">Know More</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker22.jpg" alt="..." class="image">
          <div class="caption">
            <p>An agricultural entrepreneur who is re-instating a super crop cannabis.<a href="#">Know More</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker23.jpg" alt="..." class="image">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="../images/speaker24.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>

  </div>
    <!-- Page3 ends here -->
  
  <!-- Page 4 starts from here -->

<div class="row marketing">
    

  </div>

  <div class="footer">
  <p>♥ from the Yeoman team</p>
  </div>
<!-- </div> -->
