<!--Navbar starts from here -->
  <div class="header">
    <nav class="navbar navbar-default navbar-fixed-top fixedBorder" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      <div class="collapse-navbar-collapse collapseOne" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navv">
          <li ><a ng-click="scrollTo('home')">Home</a></li>
          <li><img src="../images/speaker.png" alt="..." class="navImage"><a ng-click="scrollTo('speakers')">Speakers</a></li>
          <li><img src="../images/information.png" alt="..." class="navImage"><a ng-click="scrollTo('why_attend')">Why Attend</a></li>
          <li><img src="../images/question.png" alt="..." class="navImage"><a ng-click="scrollTo('what_we_did')">What We Did</a></li>
          <li><img src="../images/venue.png" alt="..." class="navImage"><a ng-click="scrollTo('venue')">Venue</a></li>
          <li><img src="../images/schedule.png" alt="..." class="navImage"><a ng-click="scrollTo('schedule')">Schedule</a></li>
          <li><a href="#">Register</a></li>          
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
<!-- Navbar ends here -->
  <!--Page1 starts from here -->
  <section>
    <div id="home"></div>
    <div class="row newRowOne">
      <div class="col-sm-6 col-md-4 colPadding">
        <a href="#" class="thumbnail speaker" id="speaker1">
         <span class="aim white">AIM</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 colPadding">
        <a href="#" class="thumbnail speaker speakerName" id="speaker2">
          <span class="name white "><span id="underline">SA</span>NWAR OBEROI
          </span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 colPadding">
        <a href="#" class="thumbnail speaker" id="speaker3">
          <span class="year white">2014</span>
        </a>
     </div>
   </div>
  <div class="row newRowTwo">
    <div class="col-sm-6 col-md-4 colPadding">
      <a href="#" class="thumbnail speaker speakerName" id="speaker4">
        <span class="name white"><span id="underline">KA</span>YE JACOB
        </span>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 colPadding">
      <a href="#secondPage" class="thumbnail speaker" id="speaker5">
        <span class="conference white">Conference</span>
        <div><i class="fa fa-chevron-circle-down fa-4x greenButton"></i></div>
      </a>
      </div>
      <div class="col-sm-6 col-md-4 colPadding">
        <a href="#" class="thumbnail speaker speakerName" id="speaker6">
          <span class="name white"><span id="underline">RA</span>NJINI MANIAN
          </span>
        </a>
      </div>
    </div>
  </section>
  <!-- Page1 ends here -->
  
  <!-- Page 2 starts from here -->  
  <section>
  <div id="what_we_did"></div>
    <div class="row rowSpeaker aimPage" id="secondPage">  
      <div class="row rowSpeaker ">
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <div class="redbarr1">
            <div class="redbar floatbar white">Aspire.
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <div class="redbarr2">
            <div class="redbar white">Inspire..
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <div class="redbarr3">
            <div class="redbar white">Motivate...
            </div> 
          </div>
        </div>      
      </div>
      <div class="barcontainer">
        <div class="row rowSpeaker ">
    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>
    <div id="bars" class="col-sm-8 col-md-8 col-lg-8 brownbar1 white">
     <span> Bringing to you thought leaders and industry experts</span>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    </div>

  </div>
  <div class="row rowSpeaker ">
    
    <div class="col-sm-3 col-md-2 col-lg-3">
    </div>
    <div id="bars" class="col-sm-6 col-md-8 col-lg-6 brownbar2 white">
      <span>22, December 2014, Gurgaon</span>
    </div>


  </div>
  <div><i class="fa fa-chevron-circle-down fa-4x redButton"></i></div>
</div>
</div>

 <div class="row rowSpeaker ">
    <div class="col-sm-12 col-md-12 col-lg-12 colPadding line" > 
      Learn from the gurus.Grow your network.Expand your knowledge.
      <br>
      Walk out inspired.
    </div>
  </section>
  <!-- Page2 ends here -->
  
  <!-- Page 3 starts from here -->
  <section >
    <div id="speakers"></div>
    <div class="row marketing rowSpeakers">
      <div class="speakers">
          SPEAKERS
      </div>
      <hr class="blueDottedLine">
      <div class="row first-row">
        <div class="col-xs-6 col-md-3 columns">
          <div class="thumbnail bottomborder bars">
            <img src="../images/speaker11.png" alt="..." class="image">
            <div class="caption captionHeight">
              <p id="pfont">A restaurant owner, a rally car driver and a record breaking swimmer.<a href="#">Know More</a></p>
            </div>
            <div id="blue-line"></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 columns">
          <div class="thumbnail bottomborder bars">
            <img src="../images/speaker12.jpg" alt="..." class="image">
            <div class="caption captionHeight">
              <p id="pfont">An activist and an Indian classical dancer from Ahmedabad, Gujarat, India.<a href="#">Know More</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 columns">
             <div class="thumbnail bottomborder bars">
            <img src="../images/speaker13.jpg" alt="..." class="image">
            <div class="caption captionHeight">
              <p id="pfont">An Indian film actor who has appeared in some of Bollywood's major films.<a href="#">Know More</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 columns">

          <div class="thumbnail bottomborder bars">

            <img src="../images/speaker14.png" alt="..." class="image">
            <div class="caption captionHeight">
              <p id="pfont">Founder and CEO, Indian Culture Coach.<a href="#">Know More</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row first-row">
        <div class="col-xs-6 col-md-3 columns">
          <div class="thumbnail bottomborder bars">
            <img src="../images/speaker21.jpg" alt="..." class="image">
            <div class="caption captionHeight">
              <p id="pfont">Over thirty rewarding years in international education, spanning three continents.<a href="#">Know More</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 columns">
          <div class="thumbnail  bottomborder bars">
            <img src="../images/speaker22.jpg" alt="..." class="image">
            <div class="caption captionHeight">
              <p id="pfont">An agricultural entrepreneur who is re-instating a super crop cannabis.<a href="#">Know More</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 columns">
          <div class="thumbnail bottomborder bars">
            <img src="../images/speaker23.jpg" alt="..." class="image">
            <div class="caption captionHeight">
              <h3>Thumbnail label</h3>
              <p id="pfont">...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 columns">
          <div class="thumbnail bottomborder bars">
            <img src="../images/speaker24.jpg" alt="..." class="bigImage">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page3 ends here -->
  
  <!-- Page 4 starts from here -->
  <section>
    <div id="why_attend"></div>
    <div class="row marketing page4 rowWhyAttend">
      <div class="speakers">
          <span class="white">WHY ATTEND
      </div>
      <hr class="dottedLine">
      <div class="row first-row rowPadding">
        <div class="col-sm-6 col-md-4 columnPadding">
          <div class="thumbnail bars captionbar">
            <div class="caption captionHeightOne">
              <div class="whyText">
              <h2 class="white">EXPLORE &</h2><h3 class="white">DISCOVER</h3>
              </div>
              <div class="whyIcon">
              </div>
            </div>
            <div class="caption captionHeightTwo">
              <p class="whyTextPara">Lorem ipsum dolor sit amet,consect et uer adipiscing elit,sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
            </div>
            <div id="blue-line">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 columnPadding">
          <div class="thumbnail bars captionbar">
            <div class="caption captionHeightOne">
              <div class="whyText">
              <h2 class="white">LEARN</h2><h3 class="white">LATEST TRENDS</h3>
              </div>
              <div class="whyIcon">
              </div>
            </div>
            <div class="caption captionHeightTwo">
              <p>A restaurant owner, a rally car driver and a record breaking swimmer.<a href="#">Know More</a></p>
            </div>
            <div id="blue-line">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 columnPadding">
          <div class="thumbnail bars captionbar">
            <div class="caption captionHeightOne">
              <div class="whyText">
              <h2 class="white">MEET</h2><h3 class="white">PEOPLE</h3>
              </div>
              <div class="whyIcon">
              </div>
            </div>
            <div class="caption captionHeightTwo">
              <p class="whyTextPara">Entrepreneurs</br>
                Technologists</br>Business Leaders</br>Investors</br>Innovators</p>
            </div>
            <div id="blue-line">
            </div>
          </div>
        </div>
      </div>
      <div class="row first-row rowPadding">
        <div class="col-sm-6 col-md-4 columnPadding">
          <div class="thumbnail bars captionbar">
            <div class="caption captionHeightOne">
              <div class="whyText">
              <h4 class="white">EXPAND</h4><h4 class="white">YOUR</h4><h2 class="white">NETWORK</h2>
              </div>
              <div class="whyIcon">
              </div>
            </div>
            <div class="caption captionHeightTwo">
              <p>A restaurant owner, a rally car driver and a record breaking swimmer.<a href="#">Know More</a></p>
            </div>
            <div id="blue-line">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 columnPadding">
          <div class="thumbnail bars captionbar">
            <div class="caption captionHeightOne">
              <div class="whyText">
              <h2 class="white">TOPICS</h2><h3 class="white">COVERED</h3>
              </div>
              <div class="whyIcon">
              </div>
            </div>
            <div class="caption captionHeightTwo">
              <p class="whyTextPara">Learn Agile</br>Agile and Leaders</br>Agile Project Management</br>
                Crisp Agile &</br>Many More....</p>
            </div>
            <div id="blue-line">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 columnPadding">
          <div class="thumbnail bars captionbar">
            <div class="caption captionHeightOne">
              <div class="whyText">
              <h2 class="white">DOWNLOADS</h2>
              </div>
              <div class="whyIcon">
              </div>
            </div>
            <div class="caption captionHeightTwo">
              <p class="whyTextPara">View the agenda in the summit brochure and all the information you need</br>
                <button class="yellowButton">Brochure</button></p>
            </div>
            <div id="blue-line">
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- Page4 ends here -->
  
  <!-- Page 5 starts from here -->
  <section><div id="venue"></div>
    <div class="row-marketing rowSpeakers rowPaddingBottom">
      <div class="speakers">
          <span class="venueColor">VENUE</span>
      </div>
      <hr class="orangeDottedLine">
      <div class="row first-row rowPadding rowHeight">
        <div class="col-sm-3 col-md-3 venueColPadding imgheight ">
          <div class="thumbnail bars captionbar thumbnailheight">
            <img class="blackBorder" src="../images/gurgaon[1].jpg"></img>
          </div>
        </div>
        <div class="col-sm-5 col-md-5 venueColPadding imgheight">
          <div class="thumbnail bars captionbar thumbnailheight">
            <img class="blackBorder" src="../images/map.png"></img>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 venueColPadding imgheight">
          <div class="row first-row rowPadding">
            <div class="col-sm-12 col-md-12 venueColPadding">
              <span class="setFont">GURGAON</br>
              Venue details Coming Soon</span>
            </div>
          </div>
          <div class="row first-row rowPadding">
            <div class="row first-row rowPadding">
             <div class="col-sm-12 col-md-12 venueColPadding colHeight">
                <span class="setFont boldFont">WE ARE SOCIAL</span>
              </div>
            </div>
            <div class="row first-row rowPadding">
              <div class="col-sm-2 col-md-2 venueColPadding">
                <span class="connect">f</span>
              </div>
              <div class="col-sm-2 col-md-2 venueColPadding">
                <span class="connect">t</span>
              </div>
              <div class="col-sm-2 col-md-2 venueColPadding">
               <span class="connect">in</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row first-row rowPadding smallRow">
        <div class="col-sm-4 col-md-4 venueColPadding">
         <div class="venueColor"><i class="fa fa-globe fa-5x"></i></div><span class="travelFont">TRAVEL TO GURGAON</span>
        </div>
        <div class="col-sm-2 col-md-2 venueColPadding">
          <span class="setFont boldFont">Airport:</span></br>
          <span class="setFont">Route from Airport to venue comes here</span>
        </div>
        <div class="col-sm-2 col-md-2 venueColPadding">
          <span class="setFont boldFont">Train:</span></br>
          <span class="setFont">Route from station to venue comes here</span>
        </div>
      </div>
      <div class="row rowSpeaker">
        <div class="col-sm-12 col-md-12 col-lg-12 colPadding line"> 
          You'll not only meet amazing people, you'll also hear
          <br/>
          great talks.   
        </div>
      </div>
     </div>   
    </div>
  </section>
  <!-- Page5 ends here -->

  <!-- Page 6 starts from here -->
  <section>
  <div id="schedule"></div>
  <div class="row-marketing page5">
    <div class="speakers">
      <span class="white">SCHEDULE</span>
    </div>
    <hr class="greenDottedLine">
  </div>
  </section>
  <!-- Page6 ends here -->
